.product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

.product {
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 15px;
    position: relative;
}

.product:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
}

.product .main {
    width: 323px;
    height: 230px;
    border-radius: 30px;
}

.productsupportimages {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 323px;
}

.productsupportimages img {
    width: 100px;
    height: 60px;
    object-fit: cover;
    margin: 0px 0px 0 2px;
}

.mainspace {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.product-back {
    position: absolute;
    left: 10px;
}

.product-forward {
    position: absolute;
    right: 10px;
}

/* .product-back:hover,
.product-forward:hover {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: grey;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.productactive {
    border: 3px solid black;
    transform: scale(1.2); 
}

.product .description {
    text-align: start;
    padding: 15px 0 0 0;
}

.product .description h4 {
    font-size: 22px;
    font-weight: 800;
    color: #088178;
    margin: 10px 0;
}

.product .description h5 {
    padding-top: 0px;
    color: #1a1a1a;
    font-size: 20px;
    margin: 10px 0px;
}

.product .description .tags{
    font-size: 14px;
}

.product-star > .iconfilled {
    font-size: 24px;
    color: rgb(243, 181, 25);
    display: none;
}

.product .favorite {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f4f4f4;
    color: #088178;
    border: 1px solid #f4f4f4;
    position: absolute;
    bottom: 23px;
    right: 60px;
    display: flex;
    justify-content: center;
}

.product .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 23px;
    right: 10px;
    display: flex;
    justify-content: center;
}

.price-pay a {
    display: flex;
    align-items: center;
    justify-content: center;
}